*{
    margin:0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
:root{
    --c60: #00356A;
    --c30: rgb(243, 248, 252);
    --c10: #40E0D0; 
    --shadow: 0 0 5px rgba(139, 255, 153, 0.06);
    --shade: 0 1px 5px rgba(104,104,104,0.8);

}

body{
    background-color: var(--c30);

}

/* Navigation */
nav{
    display: grid;
    min-height: 4rem;
    grid-template-columns: 6fr 6fr;
    overflow: hidden;
    width: 100%;
    position: sticky;
    top: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: var(--c60);
    border-bottom:2px solid rgba(163, 163, 163, 0.562) ;
    
}
nav h1{
    margin-left: 10%;
}
nav h1 a{
    color: var(--c10);
}
nav ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4,1fr);
}
nav ul li a{
    color: var(--c30);
    padding: 0.3rem;
    display: block;
    text-align: center;
    font-weight: 400;
}

nav ul li a:hover{
    color: var(--c10);
    text-shadow:var(--shadow);
}




/* Footer */


footer{
    margin-top: 2rem;
    background: var(--c60);
    color: var(--c30);
    text-align: center;
    padding: 1rem;

}


/* Media Queries */

@media(max-width: 700px)
{
    
    nav{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    nav ul{
        grid-template-columns: 1fr;
    }
}